/*----------- BODY --------------*/

.form-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-bottom: 2rem;
}
.form-class {
  grid-column: span 6;
  text-align: left;
}
.agent-info h2 {
  margin-bottom: 1rem;
}
.agent-info p {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  padding: 0 2rem 1rem 0;
}
.agent-info i {
  margin-right: 1rem;
}
.solid-star {
  color: #ffe340;
}
.blank-star {
  color: #e2e2e2;
}
.comments {
  font-style: italic;
  padding-bottom: 1.5rem;
  line-height: 2;
}
.comments span {
  padding-right: .5rem;
}
.form-cruise-box {
  grid-column: span 6;
}
.form-cruise-img {
  width: 300px;
  border-radius: 5px;
  margin: 0 1.8rem 0 2rem;

}

/*-------- Form Styles -----------*/
.infoCard {
  margin-bottom: 2rem;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
}
input[type=text], input[type=number], input[type=date], input[type=month], input[type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input[type=submit] {
  width: 100%;
  background-color: orange;
  border: 4px solid orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 2rem;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #FFFFFF;
  font-weight: bold;
  color: orange;
}
input[type=radio] {
  margin-bottom: 1rem;
}
.radioLabel {
  padding-left: 1rem;
  font-size: 14px;
}
label {
  width: 100%;
  font-family: Avenir;
}
#zipCode {
  width: 30%;
}
select {
  width: 200px;
  height: 50px;
}


