@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 15% 0 15%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 2rem; 
}

li::before {
  content: "• ";
  color: #4286f4;
  padding-right: .5rem;
  #54220f
}


#coName {
	background-image: url("../arcade.jpg");
  background-size: 1000px 150px;
	background-repeat: no-repeat;
	background-position: center;
    font-weight: bold;
	font-size: 75px;
	text-align: left;

}
#header-text {
  padding-left: 5rem;
}
#slogan {
	font-style: italic;
  padding-top: 2rem;
  padding-left: 3rem;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    background-color: #4286f4;
    color: white;
    height: 30px;
    padding-top: 9px;
    font-weight: bold;
}
.header {
	height: 150px;
	color: white;
	z-index: 0;
  text-shadow: 4px 4px #0c0c0c;

}
