/*----------- BODY -----------*/

.sliders {
  padding-top: 2rem;
  max-height: 400px;
  max-width: 75rem;
  margin: 0 auto;
}
.sliderImage {
  object-fit: cover;
  height: 300px;
  border-radius: 8px;
  max-height: 350px;
}
.news-card-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-bottom: 2rem;
}
.news-card {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.news-img {
  height: 250px;
  border-radius: 7px 7px 7px 7px;
  object-fit:cover;
  opacity: .75;
  z-index: 0;
  transition: .75s ease;
}
.news-card-text-top {
  color: white;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: -2.25rem;
  z-index: 1;
  border-radius: 7px 7px 0 0;
  padding: 10px 10px;
  background-color: rgba(128, 128, 128, 0.76);
}
.news-card-text-bottom {
  color: white;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  z-index: 1;
  border-radius: 0 0 7px 7px;
  margin-top: -2.2rem;
  padding: 10px 10px;
  background-color: rgba(128, 128, 128, 0.76);
}
.news-img:hover {
  opacity: 1;
  transition: .75s ease;
  cursor: pointer;
}




