

#scaledImage {
  float: right;
  padding-left: 10px;
}


div#navWrapper {
  max-width: 75rem;
  margin: 0 auto;
  background: #C95D63;
}

div#mainWrapper {
  max-width: 75rem;
  margin: 0 auto;
}
.flex-columns {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}
.column-1 {
  order:1;
  flex-basis:25%;
}
.column-2 {
  order:2;
  flex-basis:25%;
}
.column-3 {
   order: 3;
   flex-basis:25%;
 }
.column-4 {
  order: 4;
  flex-basis:25%;
}

nav {
  max-width: 75rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 75rem;
}
nav ul li {
  float: left;
  width: 100px;
}
nav ul li a {
  display: block;
  color: #eee;
  border-left: 1px solid #ffffff;
  padding: .5rem 0;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a:hover {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
}
nav ul li.active a {
  background-color: #eee;
  color: #000000;
}

#heroImage {
  max-width: 75rem;
  width: 100px;
  height: 400px;
}

