


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 100px;
}
nav ul li a {
    display: block;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {
    border-left: none;
}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #eee;
}
div#navWrapper {
    max-width: 75rem;
    margin: 0 auto;
    background: #C95D63;
}



/*----------- MAIN --------------*/
#mainWrapper {
    padding-left: 1rem;
}
.flex-columns {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

#scaledImage {
    width: 50%;
    padding-left: 10px;
}
.column-1 {
    order:1;
    flex-basis: 50%;
}
.column-2 {
    order:2;
    flex-basis: 50%;
}
.column-3 {
    order: 3;
    flex-basis: 50%;
}
.column-4 {
    order: 4;
    flex-basis: 50%;
}
/*----------- FOOTER --------------*/
    
