/* Prevent adjustments of font size when orientation changes  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div#navWrapper {
    max-width: 75rem;
    margin: 0 auto;
    background: #C95D63;
}
#mainWrapper {
    padding-left: 1rem;
}
#scaledImage {
    width: 100%;
    padding-bottom: 10px;
}
.flex-columns {
    display: block;
}
/*----------- NAVIGATION --------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav ul li:first-child a {
    border-left: none;
}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #eee;
    color: #000;
}
.flex-columns {
    flex-wrap:nowrap;
}

.column-1 {
    order:1;
    flex-basis:200px;
    padding-right: 1em;
}
.column-2 {
    order:2;
    flex-basis:200px;
    padding-right: 1em;
}
.column-3 {
    order: 3;
    flex-basis:200px;
    padding-right: 1em;
}
.column-4 {
    order: 4;
    flex-basis:200px;
    padding-right: 1em;
}
