/* --- RUN THIS COMMAND --> sass --watch scss/styles.scss css/styles.css */

@import "normalize";

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (max-width: 34rem) {
    @import "small";
    @import "index/small";
    @import "cruises/small";
    @import "agents/small";
    @import "bookings/small";

} /* end of media query */

@media only screen and (min-width: 34rem) {
    @import "medium";
    @import "index/medium";
    @import "cruises/medium";
    @import "agents/medium";
    @import "bookings/medium";

} /* end of media query */

@media only screen and (min-width: 64rem) {
    @import "large";
    @import "index/large";
    @import "cruises/large";
    @import "agents/large";
    @import "bookings/large";
}
/* end of media query */

#logo {
    height: 90px;
    float: left;
    margin-right: 1rem;
}

#mainWrapper {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    color: black;
}

#websiteUrl {
    color: white;
}
* {
    font-family: Avenir;
}

/*----------- BODY --------------*/
body {
    width: 100%;
    margin: 0 auto;
}

main p {
    padding: 0 2% 2% 2%;
}

#bodyHeader {
    padding-left: 2%;
}
figure{
    margin: 0;
}
figcaption {
    font-size: 16px;
    font-weight: 600;
    margin-top: .5rem;
    font-family: "Avenir Next";
}
#newsHeader {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}
.sliders {
    max-height: 400px;
    max-width: 75rem;
    margin: 0 auto;
}

/*----------- HEADER --------------*/
#headerWrapper {
    max-width: 100%;
    background-color: rgba(193, 221, 255, 0.51);
}
header {
    max-width: 75rem;
    margin: 0 auto;
    padding: .2rem;
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
    font-weight: 100;
    display: none;
}
.phone-num {
    margin-top: 4rem;
}


/*----------- NAVIGATION/SUB MENU --------------*/
#scaledImage {
    float: right;
}

#menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.menu-item,
.sub-menu,
.dropdown-icon {
    border: 0 solid;
}

#menu {
    max-width: 75rem;
    margin: 0 auto;
    .menu-item {
        display: block;

        &.has-children {
            &, .menu-item {
                position: relative;
            }
        }
        &:not(:last-child) {
            border-width: 0 0 1px;
        }
        a {
            padding: 1em;
            display: flex;
            justify-content: space-between;
        }
    }

    .sub-menu {
        border-width: 1px 0 0;
        visibility: hidden;
        opacity: 0;
        height: 0;
        width: 0;
        transition: visibility .25s, opacity .25s ease-in-out;

        .menu-item {
            visibility: hidden;
        }
    }

    .menu-item {
        &:hover,
        &:active,
        &:focus {
            > .sub-menu {
                opacity: 1;
                height: auto;
                width: auto;
                &,
                .menu-item {
                    visibility: visible;
                    width: 100%;
                }
            }
        }
        > a {
            &:hover,
            &:active,
            &:focus {
                .dropdown-icon {
                    &:after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .dropdown-icon {
        padding: 1em * 1.25;
        margin: -1em -1em -1em .5em;
        border-width: 0 0 0 1px;

        &:after {
            content: "+";
            display: block;
            transition: transform .25s ease-in-out;
        }
    }
}

.nav--rtl {
    #menu  {
        .dropdown-icon {
            margin: -1em .5em -1em -1em;
            border-width: 0 1px 0 0;
        }
    }
}
.nav {
    background-color: #002f54;

    #menu  {
        max-width: 75rem;

        > .menu-item {
            &,
            .dropdown-icon {
                border-color: rgba(white, .1);
            }
        }
        > .menu-item {
            &, & > a.active {
                color: #000000;
            }
            & > a {
                &:hover,
                &:active,
                &:focus {
                    background-color: #eee;
                    color: #000000;
                }
            }
        }
    }
    .sub-menu {
        background-color: #eee;

        &, .menu-item {
            &,
            .dropdown-icon {
                border-color: rgba(black, .1);
            }
        }
        .menu-item {
            width: 150px;

            &, a {
                color: #000000;
            }
            a {
                &:hover,
                &:active,
                &:focus {
                    background-color: #002f54;
                    color: #FFFFFF;
                }
            }
        }
    }
}
/*----------- FOOTER --------------*/
#largeFooter {
    padding: 0 .5rem 0 .5rem;
}
#subFooter1 {
    background-color: rgba(193, 221, 255, 0.51);
    padding: .5rem 2%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
#subFooter2 {
    background-color: #166088;
    color: #FFFFFF;
    padding: .5rem 2%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
#footerWrapper i {
    margin-right: .5rem;
}
#footerWrapper h2 {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}
#subHeader1 i {
    font-size: 2rem;
    padding: 5px;
}

#subHeader1, #facebookIcon, #instaIcon, #pinterestIcon, #twitterIcon, #youTubeIcon {
    font-size: 2rem;
    padding: 5px;
    color: black;
    transition: .5s ease;
    cursor: pointer;
}
#facebookIcon:hover {
    color: #3b5998;
    transition: .5s ease;
    cursor: pointer;
}
#instaIcon:hover {
    color: #E1306C;
    transition: .5s ease;
    cursor: pointer;
}
#pinterestIcon:hover {
    color: #c8232c;
    transition: .5s ease;
    cursor: pointer;
}
#twitterIcon:hover {
    color: #00acee;
    transition: .5s ease;
    cursor: pointer;
}
#youTubeIcon:hover {
    color: #FF0000;
    transition: .5s ease;
    cursor: pointer;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.mainHeaders {
    font-family: "Avenir Next";
    color: #541070;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}