/* --- RUN THIS COMMAND --> sass --watch scss/styles.scss css/styles.css */

@import "normalize";

@import "small";


/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (max-width: 30rem) {
    @import "small";

} /* end of media query */

@media only screen and (min-width: 35rem) {
    @import "medium";

} /* end of media query */

@media only screen and (min-width: 64rem) {
    @import "large";
}
/* end of media query */

#logo {
    height: 60px;
    width: 300px;
    float: left;
    margin-right: 1rem;
}

#heroImage {
    width: 100%;
    height: 301px;
}
#mainWrapper {
    width: 100%;
    padding: 1rem;
}

#footerWrapper {
    width: 100%;
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
}
p {
    font-family: "Avenir";
    font-size: 24px;
    font-weight: 200;
    padding-bottom: 2rem;
}
span {
    font-size: 30px;
    font-weight: 600;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
    width: 100%;
}
.subHeader {
    font-size: 15px;
    color: #a2a2a2;
    font-weight: 200;
}

/*----------- NAVIGATION --------------*/
div#navWrapper {
    //background-color: black;
    width: 100%;
}

.rightImage {
    float: right;
}
.leftImage {
    float: left;
    padding: 1rem;
}

nav ul li {
    background-color: black;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}