/*----------- BODY --------------*/
input[type=text], input[type=number], input[type=date], input[type=month], input[type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input[type=submit] {
  width: 20%;
  background-color: #000000;
  border: 4px solid #ff4500;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 2rem;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #ff4500;
}
input[type=radio] {
  margin-bottom: 1rem;
}
.radioLabel {
  padding-left: 1rem;
  font-size: 14px;
}
.inputDiv {
  width: 35%;
}
.inputDiv2 {
  width: 15%;
}
.inputDiv3 {
  width: 20%;
}
label {
  font-family: Avenir;
}
#color {
  width: 200px;
}


/*----------- HEADER --------------*/
#logo {
  height: 50px;
  width: 60px;
  float: left;
  margin-right: 1rem;
}

header, nav, main, footer {
  max-width: 64rem;
  margin:auto;
}
header h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px #000000;
  display: block;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*  ----------------------- NAVIGATION --------------------------- */
nav {
  background-color:$menuColor;

  // add space to the left to match the other left side elements DESIGN: Alignment
  ul {
    margin: 0 0 0 2vw;
    padding: 0;
  }
  //Change to a horizontal menu bar
  ul>li {
    float: left;
    list-style: none;
    border-left: 1px solid rgba(0,0,0,0.2);
  }

  // add a single line so that all menu items have lines on both sides
  ul li:last-child{border-right: 1px solid rgba(0,0,0,0.2);}

  //style the anchors
  ul li a {
    display: block;
    background: none;
    font-size: .9em;
    padding: .9em .9em;
    color: $menuTextColor;
    text-decoration: none;
    /*transition to transition over time on hover*/
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }

  // on mouse hovber darken the menu item
  ul li a:hover {background: darken($menuColor,5%);}

  // .parent class indicates dropdown by adding a down arrow to the parent list item
  #primaryNav li.parent > a::before {
    font-size: .75rem;
    content: "\25BC";
    color: rgba(255,255,255,.5);
  }

  //rules for the sub menu items
  ul li ul {
    z-index:998;
    position: absolute;
    background-color: darken($menuColor, 3%);
    left: -999em; /* pushes the menu way off to the side */
    width: 12em; //width of the sub menu items when the drop down
  }
  ul li ul li { /* overides the float and line from the parent ul */
    float: none;
    border: none;
    border-top: solid 1px rgba(0,0,0,0.2); /* vertical line seperating sub menu items*/
  }

  // this displays the menus as drop downs
  ul li:hover ul {
    left: auto;
    margin-left: 0;
  }

  // darkens the anchor of the current-menu-item
  li.current-menu-item a{background-color: rgba(0,0,0,0.25);}

} // end nav


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/



