/* Prevent adjustments of font size when orientation changes  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----- Responsive Navigation -----*/
nav ul.hide {
    display: none;
}
nav br {
    display: block;
}

nav button {
    margin: .2rem 2%;
    background-color: #f03a71;
    border: none;
    font-size: 1.6rem;
    color: white;
    border-radius: 2px;
    float: left;
}

nav {
    overflow: hidden;
    background-color: #f03a71;
    position: relative;
    margin-bottom: 2vh;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    font-weight: 300;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #dbdbdb;
    color: #000000;
    cursor: pointer;
}

nav ul li.active a {
    background-color: #dbdbdb;
    color: #000000;
}
nav {
    width: 100%;
}
.pageHeader {
    padding-left: 1rem;
}
hr {
    margin-left: 1rem;
}

/*----------- BODY --------------*/


.card {
    height: 200px;
    grid-column: span 12;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    box-shadow: 5px 10px #bababa;
}
.cardImage {
    height: 200px;
    width: 100%;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

input[type=submit] {
    width: 20%;
    background-color: #3C4B6C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 2rem;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #1a2030;
}
input[type=radio] {
    margin-bottom: 1rem;
}
.checkBoxLabel {
    padding-left: 1rem;
    font-size: 14px;
}
.inputDiv {
    width: 60%;
    margin-left: 1rem;
}
label {
    font-family: Avenir;
    font-weight: 100;
}
#color {
    width: 200px;
}
#submitBtn {
    margin: 1rem 0 2rem 1rem;
    width: 50%;
}
