/*----------- HEADER --------------*/

#headerWrapper::after {
  background-image: url('../images/zions.jpeg');
  background-position: 47% 47%;
  opacity: .3;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}


/*----------- NAVIGATION --------------*/
nav {
  margin: 0 auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 100px;
}
nav ul li a {
    display: block;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {
    border-left: none;
}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}


/*----------- MAIN --------------*/
.mainContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.subHeader {
  //margin-left: 1rem;
}

figure {
  float: right;
  margin-right: 0;
}

.responsive-image {
  max-width: 30%;
}

@keyframes move-moose {
  0% {
    left: 0;
    transform: scaleX(-1);
  }
  50% {
    left: 600px;
    transform: scaleX(-1);
  }
  60% {
    transform: translate(-2px, 3px) rotate(-1deg);
  }
  70% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(1deg);
  }
  100% {
    left: 0;
  }
}

    
